body {
	font-size: 14px;
	font-family: Helvetica;
	padding: 50px;
	margin: 30px;
	text-align: justify;
}

h1 {
font-size: 50px;
color: orange;
text-align: left;
margin-top: 10px;
}

div {
  width: 300px;
  border: 15px solid orange;
  padding: 20px;
  margin: 20px;
}


h4 {
	font-size: 18px;
	padding: 20PX;
}

h4.amigos {
margin-top: -10px;
}

h4.familiares {
margin-top: -10px;
}

h2 {
	margin-top: 40px;
}

p.bruno_aleixo_p{
	padding-right: 400px;
}

ul {
	margin-top: 0px;
}

ul.amigos {
	margin-top: -30px;
	background-color: #FFFACD;
}

ul.familiares {
		margin-top: -30px;
		background-color: #FFFACD;
}

h3 {
	margin-top: 20px;
}

ul.rubricas {
	background-color: #FFFACD;
}

a {
	color: orange;
}

em {
	color:red;
}

hr {
	border: 5px solid orange;
    border-radius: 2px;
}

img.image{
	float: right;
	margin-top: -140px;
}
